.container_p {
    transition: all 0.3s ease;
    padding-top: 1em;
}

.venta {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.venta-info {
    flex-grow: 1;
}

.venta-fecha {
    font-size: 16px;
}

.venta-identificador {
    font-size: 14px;
    color: #777;
}

.btn-ver-detalle {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.btn-ver-detalle:hover {
    background-color: #0056b3;
}

.trimed {
    padding-right: 1em;
    width: calc(100% - 18em);
    margin-left: 18em;
}


.not-trimed {
    padding-right: 1em;
    width: calc(100% - 5em);
    margin-left: 5em;
}

.btn-desactivar {
    background-color: #ce1100;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0.5em;
}

.btn-visualizar{
    background-color: #58c71c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0.5em;
}


.sub-title{
    text-align: center;
    font-size: 1.8em;
    color: var(--primary-color);
}

.card-title{
    font-size: 1.4em;
}

.card{
    font-size: 1.2em;
}