<app-side-bar [(collapsed)]="collapsed"></app-side-bar>
<div class="container_p mt-4" [ngClass]="{'trimed': !collapsed, 'not-trimed': collapsed}">
    <h1 class="sub-title">Informacion de Venta</h1>
    <div class="card mx-auto my-5 p-5" style="max-width: 80%;">
        <div class="card-body">
          <h2 class="card-title"><b>Nombre de cliente: </b>{{venta.nombreCliente}}</h2>
          <p class="card-text"><b>Fecha:</b> {{venta.fecha}}</p>
          <hr><br>
          <div *ngFor="let detalleVenta of detalleVentas">
            <p class="card-text"><b>Nombre de producto:</b> {{detalleVenta?.nombreProducto}}</p>
            <p class="card-text"><b>Precio Unitario:</b> {{detalleVenta?.precio | currency}}</p>
            <p class="card-text"><b>Cantidad de producto:</b> {{detalleVenta?.cantidad}}</p> <br>
          </div>
          <hr>
          <p class="card-text"><b>Total de venta:</b> {{venta.total | currency}}</p>
        </div>
      </div>      
</div>
  